---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { getCollection } from "astro:content";
import Breadcrumbs from "../components/Breadcrumbs.astro";

type Friend = {
  id: string;
  data: {
    name: string;
    image: string;
    site: string;
  };
};

const friends: Friend[] = await getCollection("friends");
---

<Layout title={`Friends you should follow | ${SITE.title}`}>
  <Header activeNav="friends" />
  <Breadcrumbs />
  <main id="main-content">
    <section id="about" class="prose mb-28 max-w-5xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-4xl">
        Friends you should follow
      </h1>
      <div class="grid grid-cols-3 gap-4 auto-rows-fr">
        {
          friends.map(friend => (
            <a
              href={friend.data.site}
              target="_blank"
              rel="noopener noreferrer"
              class="block"
            >
              <figure>
                <img alt={friend.data.name} src={friend.data.image} />
                <figcaption>{friend.data.name}</figcaption>
              </figure>
            </a>
          ))
        }
      </div>
    </section>
  </main>
  <Footer />
</Layout>
